

<body class=index>
  <div class=ushi>
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">
    「遊び場所が決まらない…」「友達に素敵なスポットを紹介できるようになりたい」<br>
    そんなあなたに
  </div>

  <div class=nezumi>
    <img src="https://uploads-ssl.webflow.com/603c87adb15be3cb0b3ed9b5/60f00aa11cfedee186ed2da3_81.png" width="300" height="450" class=lala>
    <img src="https://uploads-ssl.webflow.com/603c87adb15be3cb0b3ed9b5/608bb312005f771b8a833e33_66_cafe_menu_loovk.png" width="300" height="450" class=lala>
    <img src="https://uploads-ssl.webflow.com/603c87adb15be3cb0b3ed9b5/60743cf651fa45e66a876952_illust_college_student.png" width="300" height="450" class=lala>
    <img src="https://uploads-ssl.webflow.com/603c87adb15be3cb0b3ed9b5/606be2ecb947508937748090_56.png" width="300" height="450" class=lala>
  </div>

  <div class=tora>
    遊びを提案、ASOBOUNO 
  </div>
</body>