
<h5>診断結果</h5>

<div class="intoro">
<p>あなたにおすすめの遊びは…</p>
</div>
<div class="tweet-container">
<div class="tweet">
<link href="https://fonts.googleapis.com/earlyaccess/kokoro.css" rel="stylesheet">
    <% if @perfume.question == "1111" %>
    <h6>池袋・ごはん</h6>
   

    <% elsif @perfume.question == "1112" %>
    <h6>上野・アクティビティ</h6>
   

    <% elsif @perfume.question == "1121" %>
    <h6>目黒・</h6>
    

    <% elsif @perfume.question == "1122" %>
    <h6>渋谷</h6>
   
    <% elsif @perfume.question == "1211" %>
    <h6>新宿</h6>
    
    <% elsif @perfume.question == "1212" %>
    <h6>代々木</h6>
    
    <% elsif @perfume.question == "1221" %>
    <h6>渋谷</h6>
    
    <% elsif @perfume.question == "1222" %>
    <h6>恵比寿</h6>
    

    <% elsif @perfume.question == "2111" %>
    <h6>池袋/自然</h6>
    
    <% elsif @perfume.question == "2112" %>
    <h6>上野</h6>
   
    <% elsif @perfume.question == "2121" %>
    <h6>目黒</h6>
    
    <% elsif @perfume.question == "2122" %>
    <h6>渋谷</h6>
    
    <% elsif @perfume.question == "2211" %>
    <h6>新大久保</h6>
   
    <% elsif @perfume.question == "2212" %>
    <h6>新宿</h6>
   
    <% elsif @perfume.question == "2221" %>
    <h6>有楽町</h6>
   
    <% elsif @perfume.question == "2222" %>
    <h6>目黒</h6>


    <% end %>

</div>

<div class="pink">
<%= link_to "タグ検索へ",plays_top_path %>
</div>