.row{
    line-height: 40px
}

.start {
  text-decoration: none; 
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
    margin: 50px;
    font-family: "Hannari";
    
    
}

.start::before,
.start::after {
	content: '';
	width: 3px;
	height: 40px;
	background-color: #3fc1c9;
    
}

.start::before {
	margin-right: 30px;
	transform: rotate(-35deg)
    
}
.start::after {
	margin-left: 30px;
	transform: rotate(35deg)
}

h5 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 26px;
	text-align: center;
    margin: 50px;
    font-family: "Hannari";
    
    
}

h5::before,
h5::after {
	content: '';
	width: 3px;
	height: 40px;
	background-color: #3fc1c9;
    
}

h5::before {
	margin-right: 30px;
	transform: rotate(-35deg)
    
}
h5::after {
	margin-left: 30px;
	transform: rotate(35deg)
}

.tweet {
    margin: 1em auto;
    background: #fff3e8; /* 背景色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.22); /* 影の色 */
    width: 95%;
    text-align: center;
  }

  .tweet p {
    margin: 0;
    padding: 1em;
  }


  .intoro{
    font-size: 1.1em;
    background: #ffaaaa; /* タイトル背景色 */
    padding: 2px;
    text-align: center;
    color: #FFF; /* タイトル文字色 */
    font-weight: bold;
    letter-spacing: 0.05em;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.22); /* タイトル影の色 */
  }

h6{
    font-size: 300%;
    font-family: "Kokoro";
}

.row{
    font-family: "M PLUS Rounded 1c";
}

.link{
  text-decoration: none;
  color: #3fc1c9;
}

.col-6{
  width: 350px;
  margin-left: 200px;
  font-size: 17px;
}
.col-12{
  font-size: 17px;
}

.pink{
  margin:1.4em 0;
  padding-left: 0.3em;
  border-bottom: 7px dashed #f29c9f;
  width: 200px;
  margin:20px;
}
.pink::before {
  color: #f29c9f;
  content: '▶';
}
  
h4 {
  position: relative;
  padding: 10px;
  margin: 20px;
}
h4:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 6px;
  background: repeating-linear-gradient(-30deg, #82C5CA, #82C5CA 4px, #C1E2E4 4px, #C1E2E4 8px);
}