// Place all the styles related to the plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h3 {
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  width: 200px;
  margin: 30px;
  color: #657285;
  font-family: "Nico Moji";
}


  .momo input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .ichigo input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .mikan input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .banana input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .ringo input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .pain input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .nasi input {
    border-top: none;
    border-right: none;
    border-left: none;
  }

  input, textarea {
    width: 60%; /* 例: 入力欄の幅を100%に設定 */
  }

  .fruit{
    line-height: 40px
  }
  
  /* 入力欄の高さを大きくする */
  textarea {
    height: 200px; /* 例: 入力欄の高さを150pxに設定 */
  }

.form-group{
  display: flex;
}

.form-check{
  width: 200px;
}



.negi {
  position: relative;
  background: #F8F0D7;
  border-left:4px dotted rgba(0,0,0,.1);
  border-right:4px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 1em;
  color: #65513f;
  width: 800px;
  margin-right: 20px;
  display: flex;
  align-items: flex-end;
  margin: 30px; 
  height: 380px;

}
.negi p {
  color: #65513f;
  padding: 10px;
}

.toufu{
  margin-left: 40px;
}
.memo {
  position: relative;
  background: #F8F0D7;
  border-left:4px dotted rgba(0,0,0,.1);
  border-right:4px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 1em;
  color: #65513f;
  width: 300px;
  margin-right: 20px;
}
.masking-tape{
  position: absolute;
  top: -1em;
  left: 26%;
  width:100px;
  height:30px;
  background-image: linear-gradient(-45deg, rgba(227,155,140,.4) 25%, transparent 25%, transparent 50%, rgba(227,155,140,.4) 50%, rgba(227,155,140,.4) 75%, transparent 75%, transparent 100%);
  background-size: 20px 20px;
  border-left:2px dotted rgba(0,0,0,.1);
  border-right:2px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,.2);
  padding: 0.25em 2em;
  color: #65513f;
  
}
.memo p {
  color: #65513f;
  padding: 10px;
}


.mouse{
  display: flex;
  margin: 50px;
}

.cat{
  display: flex;
  margin: 50px;
}

.comment-wrapper{
  padding: 20px;
}

